.contract-table {
    .ant-table-content {
        min-height: unset !important;
    }
}

.contract-warning__container {
    width: 80%;
    min-height: 164px;
    background-color: rgba(47, 47, 65, 0.7);
    padding: 8px 15px;
    border-radius: 5px;
}

.contract-title {
    color: white !important;
}

.contract-date-input__container {
    display: flex;
    justify-content: space-between;
    width: 20%;
}

.contract-date {
    margin-left: 10px;
    color: white;
}

.contract-title {
    display: flex;
    width: 100%;
    margin: 0 5px;
}
