.feed-back-form__container {
    width: 40%;
    height: 50%;
}

.feed-back-form {
    border-radius: 10px;
    background: rgba(47, 47, 65, 0.7);
    padding: 24px;
}

.feed-back-page__container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Toastify__toast-container--bottom-center {
    bottom: 100px;
    left: 55%;
}
