.my-button {
    border: 1px solid #ff7506;
    background-color: transparent;
    border-radius: 8px;
    height: 40px;
    width: 130px;
    margin: 8px;
    &.filled {
        background-color: #ff7506;
        color: white;
        &:hover {
            opacity: 0.8;
            color: rgb(131, 95, 230);
        }
    }
    &.default {
        color: #ff7506;
        &:hover {
            color: rgb(131, 95, 230);
            border: 1px solid #ff760680;
        }
    }
    &:hover {
        border: none;
    }
}
